
@{
    ViewBag.Title = "ManageAssignment";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<dvi class="container">
    <div class="row fs-3 pt-1 m-3 text-center"> <span>Manage <b class="txt-mycolor1">Task</b></span></div>
    <table class="table table-bordered table-hover" id="myTable">
        <thead class="table-dark text-uppercase">
            <tr>
                <td>Task No</td>
                <td>Task subject</td>
                <td>Task Title</td>
                <td>uploaded by</td>
                <td>last date</td>
                <td>uploaded on</td>
                <td>submitted by</td>
                <td>Mobile no</td>
                <td>course & branch</td>
                <td>answer file</td>
                <td>submitted on</td>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.assignmgmt.Rows.Count > 0)
            {
                foreach (var row in ViewBag.assignmgmt.Rows)
                {
                    <tr>
                        <td>@row["taskno"]</td>
                        <td>@row["subject"]</td>
                        <td>@row["title"]</td>
                        <td>@row["teacher"]</td>
                        <td>@row["lastdate"]</td>
                        <td>@row["date"]</td>
                        <td>@row["name"]</td>
                        <td>@row["mobile"]</td>
                        <td>@row["course & branch"]</td>
                        <td class="text-center"><a href="~/Content/answerfile/@row["answerfile"]"><i class="fa-solid fa-download fs-3"></i></a></td>
                        <td>@row[4]</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</dvi>

