
@{
    ViewBag.Title = "Task";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<style>
    .table-container {
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        border: 1px solid #dee2e6;
    }
</style>

<div class="container">
    <div class="fs-3 text-center my-2">Daily <b class="txt-mycolor2">Task</b></div>
    <div class="row">

        @if (ViewBag.task.Rows.Count > 0)
        {
            foreach (var row in ViewBag.task.Rows)
            {
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="card border-success mb-3">
                        <div class="card-header bg-transparent border-blue"><b class="fs-5">Task No.: @row[0]</b> <b class="float-end">Uploaded On: @row[8]<br />Last Submission Date: @row[7]</b></div>
                        <div class="card-body text-success">
                            <h5 class="card-title"><b>Title: </b>@row[3]</h5>
                            <p class="card-text"><b>Description: </b>@row[4]</p>
                            <h6><b>Uploaded By: </b>@row[6]</h6>
                        </div>
                        <div class="card-footer bg-transparent border-success">
                            <a class="btn bg-mycolor2" href="~/Content/assignments/@row[5]" target="_blank"><i class="fa-solid fa-download"></i> Download</a>
                   @if (row.IsNull("userid"))
                   {
                       <form action="/student/submittask" method="post" enctype="multipart/form-data" class="float-end">
                           <input type="hidden" name="taskno" value="@row[0]" />
                           <input required type="hidden" name="email" value="@Session["email"]"/>
                           <input required type="file" name="taskfile" />
                           <button type="submit" class="btn bg-mycolor2 float-end"><i class="fa-solid fa-upload"></i> Submit Task</button>
                       </form>
                   }
                   else
                    {
                     <a class="btn btn-success float-end" href="~/Content/answerfile/@row["answerfile"]"> <b>Download your Answer file</b></a> 
                    }

                        </div>
                    </div>
                </div>

                <div class="col-sm-1"></div>
            }
        }
        else
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>NO TASK FOUND!</strong> Admin has not uploaded any task for your batch in till date. Please wait.....
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
</div>

